.login-div{
    min-height: 80vh;
}

.or-section {
    display: flex;
    padding-left: 25%;
    padding-right: 25%;

}

.or-left {
    height: 3px;
    background-color: rgb(77, 77, 77);
    width: 50% !important;
}

.or-right {
    height: 3px;
    background-color: rgb(77, 77, 77);
    width: 50%;
}

.to-signup a {
    text-decoration: none;
}
.login-form {
    width: 50%;
}
.sign-up-form {
    width: 50%;
}

@media (min-width: 0px) and (max-width:575px) {
    .or-section {
        padding-left: 5%;
        padding-right: 5%;
    }

    .login-form {
        width: 90% !important;
    }
    .sign-up-form {
        width: 90%;
    }
    .login-form-google-logo {
        width: 50% !important;
    }
}