.card-custom {
    background-color: #212529 !important;
    color: #ffffff;
    box-shadow: 0px 0px 30px 3px rgba(255, 255, 255, 0.2);
    -webkit-box-shadow: 0px 0px 30px 3px rgba(255, 255, 255, 0.2);
    -moz-box-shadow: 0px 0px 30px 3px rgba(255, 255, 255, 0.2);
    transition: 0.3s all ease-in-out;
    border-radius: 10px;
    padding: 5px;
}

.card-custom:hover{
    box-shadow: 0px 0px 30px 3px rgba(255, 255, 255, 0.3);
    -webkit-box-shadow: 0px 0px 30px 3px rgba(255, 255, 255, 0.3);
    -moz-box-shadow: 0px 0px 30px 3px rgba(255, 255, 255, 0.3);
}

.products-mapped{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}