.product-image img{
    width: 350px;
}
.p-name{
    color: #3749BB;
}
.p-price{
    background-color: #F5F6FC;
    border-radius: 10px;
    padding: 5px 10px;
    color: #666666;
}
.p-price span{
    color: #000000;
}
.p-sup{
    display: inline-block;
}


/* .product-detail-card{
    padding-left: 5%;
    padding-right: 5%;
    width: 50%;
}
.input-height{
    height: 38px!important;
    border: 1px solid grey;
    border-radius: 5px;
    padding-left: 5px;
    
}
.product-detail-cont{
    min-height: 80vh;
}

.mini-img{
    width: 40px;
}
.pd-img{
    width: 300px;
} */

@media (min-width: 0px) and (max-width:575px){
    .product-detail-card{
        padding-left: 5%;
        padding-right: 5%;
        width: 100%;
    }
}